/* Container for the book details page */
.book-details-container {
  padding: 20px;
  text-align: left;
  padding-top: 80px; /* Ensure content is visible below the fixed header */
}

.book-details-container h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px; /* Add space between the heading and the details */
}

/* Container for the book details */
.book-details {
  font-size: 18px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  /*background-color: #fff;  Background color for the details container */
  background-image: url('./bg.jpg'); /* Add your image URL */
  background-size: cover; /* or contain, depending on your needs */
  background-position: center; /* Adjust positioning */
  border-color: #ad8d50;
  border-width: 6px;
}

.book-details-searchRes {
  font-size: 18px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex-grow: 1;
  background-color: #fff; /* Background color for the details container */
}

/* Styling for each row of book detail */
.detail-row {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  /* color: white; */
}

/* Styling for the labels in each detail row */
.detail-label {
  font-weight: bold;
  color: #6c1b85ff; /*  Color for the labels */
  /* color: yellow; */
  width: 150px; /* Fixed width for labels to align details */
  margin-right: 10px;
}

/* Styling for the reserve button */
.reserve-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 50px;
  margin-left: 0 !important;
  margin-top: 20px;
  font-size: 16px;
  color: #fff;
  background-color: #6c1b85ff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reserve-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.reserve-button:hover:enabled {
  background-color: #a86007;
}

/* Mobile responsive adjustments */
@media (max-width: 768px) {
  .book-details-container {
      padding: 10px;
      padding-top: 60px; /* Adjust padding for mobile view */
  }

  .book-details {
      font-size: 16px;
      padding: 8px;
  }

  .reserve-button {
      width: 100%;
      font-size: 14px;
      height: 40px;
  }
}
