.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: #cf8122;
  box-shadow: 0 1px 4px rgba(146, 161, 176, .15);
  top: 0;
  left: 0;
}

.logo-nav-new {
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.logo img {
  height: 35px;
  max-width: 120px;
  margin-right: 10px;
}

.logo-nav-new h1 {
  font-size: 24px;
  color: rgb(250, 240, 253);
  margin: 0;
}

.nav-right {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0;
}

.search-input::placeholder {
  color: white;
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}

.search-input {
  flex-grow: 1;
  width: 70%;
  height: 70%;
  margin: 10px 0px;
  padding: 0.5rem;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgb(79, 18, 98);
  color: rgb(17, 16, 16);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 1px;
  border-top-right-radius: 1px;
}

.search-input:hover {
  border: 2px solid rgb(33, 6, 41);
}

.search-input:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.search button[type="button"] {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 1px;
  border-bottom-left-radius: 1px;
  width: 10%;
  height: 70%;
  margin: 10px 0px;
  background-color: #6c1b85ff;
  color: #fff;
  border: 1px solid rgb(25, 21, 29);
  font-size: 25px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #a86007;
  border: 2px solid black;
}

.nav-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #6c1b85ff;
  white-space: nowrap;
  transition: all 0.3s ease; /* Adjusted transition time for smoother animation */
}

.hi-username {
  color: rgb(72, 15, 100);
  font-weight: 800;
  font-size: 19px;
  padding-right: 6%;
  /* padding-top: 2%; */
}
.logout-button {
  background-color: rgb(113, 19, 141);;
  width: auto;
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 5px;
}

.option {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  color: #6c1b85ff;
}

.option a {
  color: rgb(246, 244, 247);
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
}

.option a:hover {
  transition: all ease 0.5s;
  text-decoration: underline;
  text-decoration-color: #6c1b85ff;
}

.nav-options a {
  color: rgb(246, 244, 247);
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
}

.nav-options a:hover {
  transition: all ease 0.5s;
  text-decoration: underline;
  text-decoration-color: #6c1b85ff;
}

a {
  display: contents;
  text-decoration: none !important;
  color: inherit;
}

.mobile-menu {
  display: none;
}

.menu-icon {
  width: 30px;
  height: 30px;
  color: #6c1b85ff;
  /* background-color: rgb(246, 233, 202); */
  border-radius: 5px;
  cursor: pointer;
  margin: 0 15px 0 0; /* Moved the menu button to the right edge */
}

@media (max-width: 1190px) {
  .header {
    padding: 0 10px;
  }

  .logo img {
    height: 30px;
  }

  .logo-nav-new {
    justify-content: flex-start;
    margin-left: 7px;
    margin-right: 7px;
  }

  .nav-right {
    justify-content: space-between;
  }

  .nav-options {
    display: none;
    position: fixed;
    top: 60px;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: #6c1b85ff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: transform 0.3s ease; /* Smooth transition for opening */
    transform: translateX(100%); /* Initially off-screen */
    z-index: 100;
  }

  .nav-options.active {
    display: flex;
    transform: translateX(0); /* Move the menu into view */
  }

  .option {
    width: 100%;
    padding: 15px 0;
    text-align: center;
  }

  .mobile-menu {
    display: block;
  }

  .search {
    width: 100%;
    margin-right: 20px;
}

  .search-input {
    width: 80%;
  }

  .search button[type="button"] {
    width: 20%;
  }
}