.main{
   padding-top:30px;
    width:100%;
    display:flex;
    max-height:70vh;
    justify-content: center;
    align-items: center;
    align-content:center;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    /* background-image: url("image1.jpg"); */
    /* background-size: cover; */
    background-color: rgb(38, 117, 128);;
   

   }
   
  img {
    height:55%;
    width:20%;
    border-radius: 10px; /*  slightly rounded corners */
    /* transform: perspective(400px) rotateY(10deg); */
    transform:translateZ(-200px) scale(0.8);
    transition: 0.5s; /* smooth transition */
    cursor: pointer; /* change cursor on hover */
  }
  
  img:hover {
    transform: translateX(-10px) rotateY(-10deg)scale(1);
     /* move and rotate on hover */
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  
  /* .main img {
    position: relative;
    top: 0;
    transition: 0.5s;
  }
  
  
  
  /* Add a smooth scrolling effect */
  /* .main {
    scroll-snap-type: y mandatory;
  }
  
  .main img {
    scroll-snap-align: start;
  } */ 


  @media only screen and (max-width: 480px) {
    .main {
       height: 60vh; 
     }
     img {
       max-width: 60%;
     }
   }
   @media only screen and (min-width: 481px) and (max-width: 768px) {
    .main {
       height: 70vh; 
     }
     img {
       max-width: 70%; 
     }
   }
   @media only screen and (min-width: 769px) {
    .main {
       height: 80vh; 
     }
     img {
       max-width: 80%; 
     }
   }